version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: todo_backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      # Docker içinde veritabanı adresi 'db' olur
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - FIREBASE_CREDENTIALS=${FIREBASE_CREDENTIALS}
    restart: always

  db:
    image: postgres:15
    container_name: todo_db_docker
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: