version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: todo_backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload 
    restart: always

  db:
    image: postgres:15
    container_name: todo_db_docker
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: